{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ post['body'] }}</p>
      <link rel="stylesheet" href= 
      "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
      <div class="like-btn" onclick="toggleLike()"> 
        <i class="fas fa-thumbs-up"></i> 
      </div> 
      <script> 
        let likeBtn = document.querySelector('.like-btn'); 
        function toggleLike() { 
            likeBtn.classList.toggle('active'); 
            // Toggle Font Awesome class for the  
            // thumbs-up and thumbs-down icons 
            if (likeBtn.classList.contains('active')) { 
                likeBtn.innerHTML =  
                    '<i class="fas fa-thumbs-down"></i>'; 
            } else { 
                likeBtn.innerHTML =  
                    '<i class="fas fa-thumbs-up"></i>'; 
            } 
          } 
          
      </script>      
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}