{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Cambio de email{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Nombre de usuario</label>
    <input name="username" id="Usuario" required>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
    <label for="password">Contraseña</label>
    <input type="password" name="password" id="password" required>
    <label for="email">Cambio de email</label>
    <input type="email" name="nuevo_email" id="nuevo_email" required>
    <input type="submit" value="Entar">
  </form>
{% endblock %}